<style>
    #page-2 {
        display: block;
        background-color: #333333;
    }

    #page-2 hr.hor-hr {
        height: 0px;
        width: calc(100% - 2vw);
    }

    #page-2 .block {
        margin: 2vh 2vw;
    }

    #page-2 .title {
        font-size: 8vmin;
        user-select: none;
    }

    #page-2 ul {
        font-size: 6vmin;
        padding-left: 9vmin;
    }

    #page-2 ul li {
        transition: color 0.3s;
        width: max-content;
        cursor: pointer;
        user-select: none;
    }

    #page-2 ul li:hover {
        color: var(--highlight-color);
    }
</style>
<div class="title block">資訊相關競賽介紹</div>
<hr class="hor-hr">
<ul class="block">
    <li>演算法</li>
    <li>資訊安全</li>
    <li>開發</li>
    <li>其他</li>
</ul>
